
@{
    ViewData["Title"] = "Flash Cards Overview";
    string[] categories = FlashGordon.Utility.FlashCardCats.Categories;
    @model List<FCards>
}

<h1>Flash Cards Overview</h1>



<div id="flexContainer">
    @foreach (FCards c in Model)
    {
        <div class="fCardFlex" id="@c.Id">
            <!--Use the id string builds to grab the text-->
            <h1 id="@String.Concat("cardCatText", c.Id.ToString())" class="fCardCategory">@c.Category</h1>
            <div class="flexBody">
                <div class="frontOfCard">
                    <h2 class="fCardHead">Front:</h2>
                    <div id="@String.Concat("cardFrontText", c.Id.ToString())" class="cardText">@c.Front</div>
                </div>
                <div class="backOfCard">
                    <h2 class="fCardHead">Back:</h2>
                    <div id="@String.Concat("cardBackText", c.Id.ToString())" class="cardText">@c.Back</div>
                </div>
            </div>
            <div class="flashCardButtons">
                <button class="flashCardButton" type="button" onclick="createForm(@c.Id)" value="Edit">Edit <span class="buttonAction">&#9998</span></button>
                <button class="flashCardButton" type="button" onclick="" value="Delete">Delete <span class="buttonAction">&#10006</span></button>
            </div>
        </div>
    }
</div>
<!--Form to add card -->
<form method="post" asp-controller="Home" asp-action="AddFC">
    <p class="FCFormLabel">Front of Card:</p>
    <input required type="text" class="FCFormInput" name="front" oninvalid="this.setCustomValidity('Please enter the front of the card.')" oninput="this.setCustomValidity('')" />

    <p class="FCFormLabel">Back of Card:</p>
    <input required type="text" class="FCFormInput" name="back" oninvalid="this.setCustomValidity('Please enter the back of the card.')" oninput="this.setCustomValidity('')" />
    <br />
    <p class="FCFormLabel">Category</p>
    @foreach(string category in categories)
    {
        <input required type="radio" id="@category" value="@category" name="category" class="radioButtons" />
        <label for="@category" >@category</label>
        <br />
    }
    <input type="submit" />
</form>
<script src="~/js/updateForm.js"></script>
<script src="~/js/fadeAnimation.js"></script>
